@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}
.sidebar{
    background: #E9E9E9!important;
}
.active{
    color: red;
}
ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.css-dev-only-do-not-override-nllxry {
    background: transparent;
    border: none;
}
li.ant-menu-item.ant-menu-item-selected, li.ant-menu-item.ant-menu-item-active.ant-menu-item-selected{
    background-color: #00B140;
    color: white;
}
